*{
	padding: 0;
    margin: 0;
}

   /* START HEADER DESIGN*/
.header{
    height: 650px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/pexels-photo-1008000.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}

.header img {
    width: 100px;
    float: left;
    border-radius: 10%;

}
.login-btn{
	width: 100px;
	padding: 8px 0;
	outline: none !important;
	border: 2px solid #fff;
	border-radius: 50px;
	background: transparent;
	color: #fff;
	float: right;
}

.header h1{
	padding-top: 260px;
	padding-bottom: 0;
	font-size: 55px; 
}
.header p{
	margin: 18px 0;
}

.input-group{
	width: 90%;
	max-width: 500px;
	border-radius: 30px;
	background: #fff;
	margin: auto;
	padding: 2px;
}
.form-control{
	border-radius: 30px!important;
	border:0 !important;
	margin: 2px;
	box-shadow: none!important;
}

.input-group-text{
	width: 100px;
	background-image: linear-gradient(#00ff7e,#1f3d90);
	border: 0 !important;
	color: #fff !important;
	padding: 0 25px !important;
	border-radius: 30px !important;
	box-shadow: none !important;
}

   /* END HEADER DESIGN*/   


   /* features*/

   .features{
   	padding: 100px 0;
   }
   h1{
   	text-align: center;
   	padding-bottom: 30px;
   }
   .feature-img{
   	 width: 100%;
   	 position: relative;
   }
   .price{
   	width: 50px;
   	height: 50px;
   	background: #ff5722;
   	color: #fff;
   	font-weight: 600;
   	border-radius: 50%;
   	padding: 10px;
   	box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
   	position: absolute;
    left: 16px;
    bottom: 280px;
   }

   .rating{
   	padding: 2px;
    float: right;
    background: #fff;
    bottom: 280px;
    right: 60px;
    position: absolute;

   }

   .features .fa{
   	font-size: 15px;
   	color: #ff5722;
   }

   .feature-details{
   	 padding: 20px;
   	 text-align: justify;
   }

   .feature-details h4{
   	font-weight: 600 px;
   	margin-top: 20px;
   }

   .feature-details .fa{
        margin-right: 5px;
   }
   /*.feature-box{
   	 box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
   	 margin-bottom: 30px;
   }*/

   /* End features*/

/*  gallery*/

   .gallery{
     
     padding: 100px 0;
     background: #efefef;
   }

   .gallery-box img{
          
          width: 100%;
          border-radius: 10px;
          cursor: pointer;
          transition: 1s;
   }

   .gallery-box img:hover{
   	transform: scale(1.1);
   }

   .gallery-box h4{
   	font-weight: 600;
   	position: absolute;
   	top: 50%;
   	left: 50%;
   	display: block;
   	color: #fff;
   	text-shadow: -2px 2px 2px #000;
   	font-size: 20px;
   	transform: translate(-50%,-50%);
   }

   .gallery-box{
   	position: relative;
   	margin-bottom: 30px;
   }

/* End gallery*/

/* banner*/

   .banner{
   	 height: 80%;
   	 background-image: url(images/maxresdefault.jpg);
   	 background-position: center;
   	 background-size: cover;
   	 background-attachment: fixed;
   }

   .banner-highlights{
    padding: 150px 0;
    background: rgb(0,0,0,0.7);
    text-align: center;
    color: #fff;
   }

   .booking-btn{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    margin-top: 20px;
   }

/* End banner*/

/* user-feedback*/

.user-feedback{
  padding: 100px 0;
}
 .user-review{
  
   text-align: center;
   box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
 }
.user-review p{
   padding: 50px 10px 10px 10px;

    }

  .user-feedback img{
     width: 60px;
     height: 60px;
     border-radius: 50%;
     position: relative;
     margin: -30px 0 20px 40%;
  }
  .user-review p::before{
        content: '\201d';
        display: block;
        position: absolute;
        font-size: 100px;
        color: #6495ed;
        font-family: sans-serif;
        left: 44%;
        top:-20px;
  }
 
   /*  End user-feedback*/

     /* footer section*/   
  .footer{
    padding: 100px 20px 15px ;
    background-image: linear-gradient(#2d557d,#9610fb);
    color: #fff;
   }

   .footer-logo{
     width: 150px;
     margin-top: 15px;
     margin-bottom: 15px;
   }

   .footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
   }

   .footer p{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
   }

   .footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
   }

   .footer hr{
     margin-top: 10px;
     background: #efefef;
   }

   .fa-heart{
     margin: 0 5px;
     color: #f44336;
   }

   .footer .copyright{
     text-align: center;
   }

        /* footer section End*/   
